body{
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    background-color: #849d8f;
}

.catalog-creamy{
    background-image: none;
}

a{
    text-decoration: none;
}

.button{
    font: inherit;

    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff;

    background-image: linear-gradient(#f26843, #e74a35);
    border: none;
    border-radius: 18px;
    padding: 7px 15px 9px 15px;

    box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.button-gift,
.button-sub,
.button-feedback-link,
.button-modal-send,
.button-checkout,
.button-join,
.button-catalog{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;

}

.button:hover,
.button:focus{
    background-image: linear-gradient(#f58669,  #ec6f5e);
    transition-duration: 0.5s;
}

.button:active{
    background-image: linear-gradient(#e74a35, #f26843);
    box-shadow: 0 -1px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
    transition-duration: 0.05s;
}

.button.button-filters{
    margin-top: 39px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);

    box-shadow: inset 0 0 0px 2px #ffffff;
}

.button.button-filters:hover,
.button.button-filter:focus{
    color: #000000;

    background-color: #ffffff;

}

.button.button-filters:active{
    color: #000000;

    background-color: #eaeaea;

    box-shadow: inset 0 1px 2px 1px #696969;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1146px;
    margin: 0 auto;
    padding: 0;
}

.main-navigation .container{
    display: flex;
    flex-wrap: wrap;
}

.main-header-logo{
    margin-top: 10px;
    width: 154px;
    height: 64px;
}

.main-navigation a{
    color: #ffffff;
}

.catalog-hit a,
.catalog-list a,
.pagination-list a{
    color: #ffffff;
    font-weight: 500;
}

.main-navigation ul,
.catalog-hit ul,
.main-info ul,
.main-footer ul,
.modal-login ul,
.container ul{
    list-style-type: none;
}

.site-navigation{
    display: flex;
    margin: 25px auto 0 30px;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.site-navigation li{
    margin-right: 5px; 
}

.site-navigation a{
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4); 
}

.site-navigation .site-nav-active{
    background-color: #d07058;
    text-decoration: none;
}

.button-nav{
    padding: 7px 14px;
    margin: 0;
    border-radius: 18px;
}

.button-nav:hover,
.button-nav:focus{
    color: #000000;
    background-color: #f7f6f3;
    transition: 0.5s;
}

.user-navigation{
    display: flex;

    margin: 18px 0 auto 0px;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.user-navigation li{
    position: relative;
}

.button-user{
    font: inherit; 
    color: #ffffff;
    font-weight: 500;

    padding: 5px 15px;
    padding-left: 40px;
    margin-left: 10px;

    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 18px;
}

.search-button{
    box-sizing: border-box;
    padding: 0;
    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.search-button::before{
    content: "";

    position: absolute;
    left: 18px;
    top: 7px;
    width: 20px;
    height: 20px;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
}

.search-button:hover,
.search-button:focus{
    background-color: #f8f7f4;
    transition-duration: 0.5s;
}

.search-button:hover::before,
.search-button:focus::before{
    content: "";

    position: absolute;
    left: 18px;
    top: 7px;
    width: 20px;
    height: 20px;

    background-image: url("../img/search-hover.svg");
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}

.login-button::before{
    content: "";

    position: absolute;
    left: 23px;
    top: 4px;
    width: 20px;
    height: 20px;

    background-image: url("../img/login-logo.svg");
    background-repeat: no-repeat;
}

.login-button:hover,
.login-button:focus{
    color: #323232;
    background-color: #f8f7f4;
    transition-duration: 0.5s;

}

.login-button:hover::before,
.login-button:focus::before{
    content: "";

    position: absolute;
    left: 23px;
    top: 4px;
    width: 20px;
    height: 20px;

    background-image: url("../img/login-logo-hover.svg");
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}

.cart-button::before{
    content: "";

    position: absolute;
    left: 23px;
    top: 4px;
    width: 20px;
    height: 20px;

    background-image: url("../img/cart-logo.svg");
    background-repeat: no-repeat;
}

.cart-button:hover,
.cart-button:focus{
    color: #323232;
    background-color: #f8f7f4;
    transition-duration: 0.5s;
}

.cart-button:hover::before,
.cart-button:focus::before{
    content: "";

    position: absolute;
    left: 23px;
    top: 4px;
    width: 20px;
    height: 20px;

    background-image: url("../img/cart-logo-hover.svg");
    background-repeat: no-repeat;
    background-color: #e84d37;
    transition-duration: 0.5s;
}


.info-header-wrapper{
    display: flex;
    justify-content: flex-end;
}

.info-header-wrapper-catalog{
    display: flex;
    justify-content: flex-end;
}

.info-header{
    margin: 0;

    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.info-header span{
    font-size: 22px;
    line-height: 24px;
}

.breadcrumbs{
    display: flex;

    padding: 0;
    margin: 0;

    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs li{
    margin-right: 5px;
}

.breadcrumbs a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

.slider-wrapper{
    margin-top: -175px;
    margin-bottom: -310px;
    width: 100%;
}

.slider{
    padding-top: 90px;
    height: 881px;
    text-align: center;
    color: #ffffff;
}

.slider-list{
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item{
    padding-top: 340px;
}

.slide{
    display: none;
}

.slider-title{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slider-control{
    display: flex;

    position: absolute;
    top: 550px;
    left: 370px;
    z-index: 20;

    font-size: 0;
}

.slider-control label{
    position: relative;
    width: 17px;
    height: 17px;
    
    margin-right: 8px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.ice-dots{
    display: none;
}

#product-1:checked ~ .slider-wrapper label[for="product-1"]::before,
#product-2:checked ~ .slider-wrapper label[for="product-2"]::before,
#product-3:checked ~ .slider-wrapper label[for="product-3"]::before{
    content: "";

    position: absolute;
    left: 3px;
    top: 3px;

    display: block;
    width: 11px;
    height: 11px;

    border-radius: 50%;
    background-color: white;
}  

#product-1:checked  ~ .slider-wrapper{
    background-image: url("../img/index-ice-cream-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s;
}

#product-2:checked ~ .slider-wrapper{
    background-image: url("../img/index-ice-cream-2.png");
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s;
}

#product-3:checked ~ .slider-wrapper{
    background-image: url("../img/index-ice-cream-3.png");
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.5s;
}

#product-1:checked ~ .slider-wrapper #slide1,
#product-2:checked ~ .slider-wrapper #slide2,
#product-3:checked ~ .slider-wrapper #slide3{
    display: block;
}

/* #product-1:checked ~ .label [for="product-1"]::before,
#product-2:checked ~ .label [for="product-2"]::before,
#product-3:checked ~ .label [for="product-3"]::before{
    content: 
} */

.button-info-ice{
    border-radius: 35px;
}

.button-info-ice a{
    vertical-align: middle;
}

.index-columns{
    display: flex;
    justify-content: space-between;
}

.raspberry-gift,
.chocolate-gift{
    padding: 20px;
    width: 520px;
    height: 190px;

    border-radius: 20px;

    background-position: left;
}

.gift > .index-columns{
    margin-bottom: 40px;
}

.raspberry-gift{
    background-image: url("../img/raspberry.jpg");
}

.chocolate-gift{
    background-image: url("../img/chocolate.jpg");
}

.index-columns p{
    padding: 0;
    margin: 0;
}

.gift-title,
.container h2{
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.index-columns .info-gift{
    margin-top: 15px;
    margin-bottom: 45px; 

}

.info-gift{
    font-weight: bold;
}

.button-gift{
    display: block;
    padding: 10px 0;
    margin-left: auto;

    border-radius: 18px;
    width: 190px;
}

.filters{
    margin-bottom: 40px;
}

.filters .index-columns{
    flex-wrap: wrap;

    width: 860px;
}

fieldset label{
    text-transform: lowercase;
}

.filters fieldset{
    padding: 0;
    margin: 0;

    border: none;
}

fieldset legend{
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.index-columns .last-filter{
    margin-top: 19px;
}

.filter-sorting{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    padding: 5px 15px;
}

.filter-sorting:hover,
.filter-sorting:focus,
.filter-sorting:active{
    color: #000000;
}

.filter-range{
    height: 22px;
    padding: 5px 15px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
}

.filter-range-min{
    border-radius: 18px 0 0 18px; 
}

.filter-range-max{
    border-radius: 0 18px 18px 0;
}

.fat,
.fillers{
    display: flex;

    padding: 5px 15px;
    margin: 0;

    border-radius: 18px;

    background-color:  #9bafa3;
}

.fillers{
    justify-content: space-between;

    box-sizing: border-box;
    width: 702px;
}

.fat{
    justify-content: space-between;

    box-sizing: border-box;
    width: 418px;
}

.fat li{
    position: relative;
    padding-left: 20px;
    margin-right: 18px;
}

.fillers li{
    position: relative;
    padding-left: 25px;
    margin-right: 22px;
}

.fillers li:last-child,
.fat li:last-child{
    margin-right: 0;
}

.button-radio + label{
    user-select: none;
    cursor: pointer;
}

.button-radio + label::before{
    content: "";

    position: absolute;
    left: -8px;
    display: block;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    width: 22px;
    height: 22px;

    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%; 
}

.button-radio:checked + label::after{
    content: "";

    position: absolute;
    left: -1px;
    top: 7px;
    display: block;
    padding: 0;
    margin: 0;

    width: 8px;
    height: 8px;

    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.8;
}

.button-checkbox + label{
    user-select: none;
    cursor: pointer;
}

.button-checkbox + label::before{
    content: "";

    position: absolute;
    left: -8px;
    display: block;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    width: 22px;
    height: 22px;

    border: 2px solid #ffffff;
    opacity: 0.8;
}

.button-checkbox:checked + label::after{
    content: "";

    position: absolute;
    left: -8px;
    top: 0px;
    display: block;
    padding: 0;
    margin: 0;
    width: 26px;
    height: 20px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
}

.catalog-item{
    position: relative;
    padding: 5px 9px;

    width: 267px;

    text-align: center;
}

.catalog-item img + p{
    padding: 0;
    margin: 0;

    min-height: 42px;
}

.catalog-item:hover,
.catalog-item:focus{
    background-color: #9bafa3;

    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
}

.catalog-item:hover > .button.button-catalog,
.catalog-item:focus > .button.button-catalog{
    opacity: 1;
    transition-duration: 1s;
}

.catalog-item-price{
    position: absolute;
    top: 210px;
    left: 0px;
    margin: 0;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

    z-index: 10;
}

.catalog-item a img{
    width: 263px;
    height: 263px;
    border-radius: 50%;
}

.catalog-item-price span{
    font-size: 30px;
    line-height: 45px;
}

.catalog-hit{
    margin-bottom: 15px;
}

.catalog-hit .catalog-item::before{
    content: "";

    display: block;
    width: 61px;
    height: 61px;

    position: absolute;

    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
}

.catalog-list{
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-list a{
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

.button.button-catalog{
    display: block;

    padding: 8px 5px;
    margin: 12px auto;
    width: 200px;
    border-radius: 20px;

    text-decoration: none;
    opacity: 0;
}

.catalog-list a:hover,
.catalog-list a:focus,
.catalog-list a:active,
.footer-navigation-commercial a:hover,
.footer-navigation-commercial a:focus,
.footer-navigation-commercial a:active,
.copyright a:hover,
.copyright a:focus,
.copyright a:active{
    color: #ffbc9e;
    text-decoration-color: #ffbc9e;
}

.main-info{
    padding: 25px 0px 5px 20px;
    margin-bottom: 40px;

    border-radius: 18px;
    color: #000000;

    background-color: #ede1c8;
    background-image: url("../img/bg-info.jpg");
}

.main-info-title{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.main-info-list{
    padding: 0;
    margin: 0;

    column-count: 2;
}

.main-info-list li{
    position: relative;
    margin: 0;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-left: 58px; 

    width: 480px;

    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.main-info-list li:nth-child(1)::before{
    content: "";

    position: absolute;
    left: 0px;
    top: 0px;

    display: block;
    width: 49px;
    height: 49px;

    background-image: url("../img/ice-cream-icon.svg");
    background-repeat: no-repeat;
}

.main-info-list li:nth-child(2)::before{
    content: "";

    position: absolute;
    left: 0px;
    top: 0px;

    display: block;
    width: 49px;
    height: 49px;

    background-image: url("../img/leaf-icon.svg");
    background-repeat: no-repeat;
}

.main-info-list li:nth-child(3)::before{
    content: "";

    position: absolute;
    left: 0px;
    top: 0px;

    display: block;
    width: 49px;
    height: 49px;

    background-image: url("../img/cow-icon.svg");
    background-repeat: no-repeat;
}

.main-info-list li:nth-child(4)::before{
    content: "";

    position: absolute;
    left: 0px;
    top: 0px;

    display: block;
    width: 49px;
    height: 49px;

    background-image: url("../img/thermometer-icon.svg");
    background-repeat: no-repeat;
}

.main-info + .index-columns{
    margin-bottom: 40px;
}

.preview{
    padding-left: 20px;
    padding-top: 25px;

    box-sizing: border-box;
    width: 560px;
    border-radius: 18px;

    color: #000000;
    font-weight: 700;

    background-color: #ffffff;
    background-image: url("../img/sherbet-background.jpg");
    background-repeat: no-repeat;
    background-position: -52px -190px;
}

.preview a{
    color: #000000;
}

.preview a:hover,
.preview a:focus,
.preview a:active{
    color: #e84d37;
    text-decoration-color: #e84d37;
}

.more{
    width: 285px;

    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.subscription{
    position: relative;
    padding: 30px 20px 30px 30px;

    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    border-radius: 18px;

    color: #5a5a5a;

    background-image: 
            url("../img/bg-sub.png"),
            repeating-linear-gradient(140deg, #f8f7f4 0 1%, #92cdff 1% 2%, #f8f7f4 2% 3%, #fe9e90 3% 4%);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

.subscription-input{
    margin-top: 40px;
    margin-right: 15px;
    padding: 10px 10px;

    box-sizing: border-box;
    min-width: 365px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.map-location{
    display: flex;
    padding: 62px 27px;
    margin-bottom: 20px;

    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.pin{
    position: absolute;
    left: 600px;
    top: 2430px;
}

.map-contacts p{
    padding: 0;
    margin: 0 0 20px 0;
}

.container .map-contact{
    width: 1200px;
    margin: 0 -27px;
}

.map-contacts{
    padding: 34px 25px;
    margin-left: auto;
    width: 252px;

    color: #000000;
    border-radius: 18px;

    background-color: #ffffff;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.map-contacts span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.button-feedback-link{
    display: block;
    margin-top: 25px;
}

.pagination-list{
    display: flex;
    justify-content: flex-end;

    padding-bottom: 30px;
    margin: 40px 0 0 auto;

    min-width: 170px;

    font-size: 16px;
    line-height: 18px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-item{
    display: block;

    padding-top: 4px;
    margin-left: 25px;

    box-sizing: border-box;
    width: 25px;
    height: 25px;

    text-align: center;

    border-radius: 50%;
}

.pagination-item:hover,
.pagination-item:focus{
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item.pagination-item-active{
    color: #000000;
    background-color: #ffffff;

    pointer-events: none;
}

.main-footer{
    display: flex;
    justify-content: space-between;
}

.footer-social{
    margin: 0;
    margin-top: 35px;
    padding: 0;

    display: flex;
}

.social-button{
    display: block;
    margin-right: 11px;

    width: 32px;
    height: 32px;
    
    
    border: 3px solid #dae2de;
    border-radius: 50%;

    opacity: 0.8;
}

.social-button:hover,
.social-button:focus{
    opacity: 1;
}

.social-button:active{
    opacity: 0.7;
}

.footer-navigation-commercial a{
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.footer-navigation-commercial{
    position: relative;

    padding: 0;
    margin: 0;
    margin-top: 35px;

    column-count: 2;
}

.footer-navigation-commercial li:first-child::before{
    content: "";

    position: absolute;
    left: -20px;
    top: 6px;

    width: 15px;
    height: 13px;

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}

.copyright{
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}

.copyright a{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

.img-logo{
    text-align: left;
}

.modal{
    color: #000000;

    background-color: #f8f7f4;
    border-radius: 10px;

    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4)
}

.feedback-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.modal-login-controls a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.5)
}

.modal-feedback{
    padding: 18px 24px 27px 25px;

    box-sizing: border-box;
    width: 478px;
}

 .modal-feedback input{
    font-size: 16px;
    line-height: 24px;
 }

 .button-modal-send{
     display: block;
     margin-left: auto;
 }
 
.modal-login{
    padding: 20px 17px 22px 19px;

    box-sizing: border-box;
    width: 278px;
}

 .modal-login input,
 .modal-search input{
    font-size: 14px;
    line-height: 24px;
 }
 
 .button-join{
    margin-top: 15px;
    margin-bottom: 15px;
 }
 
 .modal-search{
     padding: 13px 17px;
     box-sizing: border-box;
     width: 343px;
 }