body{
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    background-color: #849d8f;
    background-image: url("../img/index-ice-cream-1.jpg");
    background-repeat: no-repeat; 
    background-position-x: center;
}

.catalog-creamy{
    background-image: none;
}

a{
    text-decoration: none;
}

.button{
    font: inherit;

    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff;

    background-image: linear-gradient(#f26843, #e74a35);
    border: none;
    border-radius: 18px;
    padding: 7px 15px 9px 15px;

    box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.button-gift,
.button-sub,
.button-feedback-link,
.button-modal-send,
.button-checkout,
.button-join,
.button-catalog{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;

}

.button:hover,
.button:focus{
    background-image: linear-gradient(#f58669,  #ec6f5e);
}

.button:active{
    background-image: linear-gradient(#e74a35, #f26843);
    box-shadow: 0 -1px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
}

.button.button-filters{
    margin-top: 39px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);

    box-shadow: inset 0 0 0px 2px #ffffff;
}

.button.button-filters:hover,
.button.button-filter:focus{
    color: #000000;

    background-color: #ffffff;

}

.button.button-filters:active{
    color: #000000;

    background-color: #eaeaea;

    box-shadow: inset 0 1px 2px 1px #696969;

}

.visually-hidden{
    padding: 0;
    margin: 0;
}

.container{
    width: 1146px;
    margin: 0 auto;
    padding: 0;
}

.main-navigation .container{
    display: flex;
    flex-wrap: wrap;
}

.main-header-logo{
    width: 154px;
    height: 64px;
}

.main-navigation a{
    color: #ffffff;
}

.catalog-hit a,
.catalog-list a,
.pagination-list a{
    color: #ffffff;
    font-weight: 500;
}

.main-navigation ul,
.catalog-hit ul,
.main-info ul,
.main-footer ul,
.modal-login ul,
.slider ul,
.container ul{
    list-style-type: none;
}

.site-navigation{
    margin-right: auto;
    margin-left: 30px;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.site-navigation-active > a{
    background-color: #f58669;
}

.info-header-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 275px;
}

.info-header-wrapper-catalog{
    display: flex;
    justify-content: flex-end;
}

.info-header{
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.info-header span{
    font-size: 22px;
    line-height: 24px;
}

.breadcrumbs{
    display: flex;

    padding: 0;
    margin: 0;

    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs li{
    margin-right: 5px;
}

.breadcrumbs a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

.slider-content{
    width: 665px;
    margin: 0 auto;
    margin-bottom: 35px;

    font-size: 59px;
    line-height: 60px;
    font-weight: 700;
    text-align: justify;
}

.slider-active{
    padding: 0;
    margin: 0;
}

.slider-nav-wrapper{
    display: flex;

    margin-bottom: 41px;
}

.slider-dots{
    padding: 0;
    margin: 0;
}

.button-info-ice{
    align-self: center;
    padding: 9px 0px 10px 0px;
    margin: 0 auto;

    border-radius: 35px;
    width: 278px;
}

.button-info-ice a{
    vertical-align: middle;
}

.index-columns{
    display: flex;
    justify-content: space-between;
}

.raspberry-gift,
.chocolate-gift{
    padding: 20px;
    width: 520px;
    height: 190px;

    border-radius: 20px;

    background-position: left;
}

.raspberry-gift{
    background-image: url("../img/raspberry.jpg");
}

.chocolate-gift{
    background-image: url("../img/chocolate.jpg");
}

.index-columns p{
    padding: 0;
    margin: 0;
}

.gift-title,
.container h2{
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.index-columns .info-gift{
    margin-top: 15px;
    margin-bottom: 45px; 

}

.info-gift{
    font-weight: bold;
}

.button-gift{
    display: block;
    padding: 10px 0;
    margin-left: auto;

    border-radius: 18px;
    width: 190px;
}

.filters{
    margin-bottom: 40px;
}

.filters .index-columns{
    flex-wrap: wrap;

    width: 860px;
}

.filters fieldset{
    padding: 0;
    margin: 0;

    border: none;
}

fieldset legend{
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.index-columns .last-filter{
    margin-top: 19px;
}

.fat,
.fillers{
    display: flex;

    padding: 5px 15px;
    margin: 0;

    border-radius: 18px;

    background-color:  #9bafa3;
}

.fillers{
    justify-content: space-between;

    box-sizing: border-box;
    width: 702px;
}

.fat{
    justify-content: space-between;

    box-sizing: border-box;
    width: 418px;
}

.fat li{
    margin-right: 18px;
}

.fillers li{
    margin-right: 22px;
}

.fillers li:last-child,
.fat li:last-child{
    margin-right: 0;
}

.filter-sorting,
fieldset input{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
}

fieldset label{
    text-transform: lowercase;
}

.filter-sorting:hover,
.filter-sorting:focus,
.filter-sorting:active{
    color: #000000;

}

.catalog-item-price{
    font-size: 45px;
    line-height: 45px;
}

.catalog-item-price span{
    font-size: 30px;
    line-height: 45px;
}

.catalog-hit{
    margin-bottom: 40px;
}

.catalog-list{
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-list a{
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

.catalog-item{
    width: 267px;

    text-align: center;
}

.catalog-item img + p{
    padding: 0;
    margin: 0;

    min-height: 42px;
}

.catalog-item:hover,
.catalog-item:focus{
    background-color: #9bafa3;

    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.button.button-catalog{
    display: block;

    padding: 10px 5px 12px 5px;
    margin: 0 auto;
    margin-bottom: 22px;
    width: 200px;
    border-radius: 20px;

    text-decoration: none;
    
}

/* .catalog-item:hover > .button-catalog,
.catalog-item:focus > .button-catalog{
    display: block;
    transition-duration: 1s;
    transition-property: display;
} */

.catalog-list a:hover,
.catalog-list a:focus,
.catalog-list a:active,
.footer-navigation-commercial a:hover,
.footer-navigation-commercial a:focus,
.footer-navigation-commercial a:active,
.copyright a:hover,
.copyright a:focus,
.copyright a:active{
    color: #ffbc9e;
    text-decoration-color: #ffbc9e;
}

.main-info{
    padding: 25px 0px 5px 20px;
    margin-bottom: 40px;

    border-radius: 18px;
    color: #000000;

    background-color: #ede1c8;
    background-image: url("../img/bg-info.jpg");
}

.main-info-title{
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.main-info-list{
    padding: 0;
    margin: 0;

    column-count: 2;
}

.main-info-list li{
    margin: 0 0 25px 0;

    width: 480px;
}

.main-info + .index-columns{
    margin-bottom: 40px;
}

.preview{
    padding-left: 20px;
    padding-top: 25px;

    box-sizing: border-box;
    width: 560px;
    border-radius: 18px;

    color: #000000;
    font-weight: 700;

    background-color: #ffffff;
    background-image: url("../img/sherbet-background.jpg");
    background-repeat: no-repeat;
    background-position: -52px -190px;
}

.preview a{
    color: #000000;
}

.preview a:hover,
.preview a:focus,
.preview a:active{
    color: #e84d37;
    text-decoration-color: #e84d37;
}

.more{
    width: 285px;

    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.subscription{
    padding: 30px 35px 35px 30px;

    box-sizing: border-box;
    width: 549px;
    border-radius: 18px;

    color: #5a5a5a;

    background-image: url("../img/bg-sub.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.subscription .subscription-info{
    margin-bottom: 37px;
}

.map-location{
    display: flex;
    padding: 62px 27px;
    margin-bottom: 20px;

    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.pin{
    position: absolute;
    left: 600px;
    top: 2430px;
}

.map-contacts p{
    padding: 0;
    margin: 0 0 20px 0;
}

.container .map-contact{
    width: 1200px;
    margin: 0 -27px;
}

.map-contacts{
    padding: 34px 25px;
    margin-left: auto;
    width: 252px;

    color: #000000;
    border-radius: 18px;

    background-color: #ffffff;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.map-contacts span{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.button-feedback-link{
    display: block;
    margin-top: 25px;
}

.pagination-list{
    display: flex;
    justify-content: space-between;

    margin: 80px 0 30px auto;

    width: 170px;

    font-size: 16px;
    line-height: 18px;
}

.pagination-item:first-child{
    margin-top: -2px;
    opacity: 0.4;
}

.pagination-item:last-child{
    margin-top: -2px;
    opacity: 0.8;
}

.pagination-item-active > a{
    display: block;
    margin-top: -2px;
    padding: 3px 0 0 1px;
    color: #000000;

    text-align: center;

    width: 22px;
    border-radius: 20px;

    background-color: #ffffff;
}

.main-footer{
    display: flex;
    justify-content: space-between;
}

.footer-social{
    display: flex;
}

.social-button{
    margin-right: 11px;
    opacity: 0.8;
}

.social-button:hover,
.social-button:focus{
    opacity: 1;
}

.footer-navigation-commercial a{
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.footer-navigation-commercial{
    padding: 0;
    margin: 0;

    column-count: 2;
}

.copyright{
    font-size: 12px;
    line-height: 18px;
    text-align: right;
}

.copyright a{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
}

.img-logo{
    text-align: left;
}

.modal{
    color: #000000;

    background-color: #f8f7f4;
    border-radius: 10px;

    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4)
}

.feedback-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.modal-login-controls a{
    color: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.5)
}

.modal-feedback{
    padding: 18px 24px 27px 25px;

    box-sizing: border-box;
    width: 478px;
}

 .modal-feedback input{
    font-size: 16px;
    line-height: 24px;
 }

 .button-modal-send{
     display: block;
     margin-left: auto;
 }
 
.modal-login{
    padding: 20px 17px 22px 19px;

    box-sizing: border-box;
    width: 278px;
}

 .modal-login input,
 .modal-search input{
    font-size: 14px;
    line-height: 24px;
 }
 
 .button-join{
    margin-top: 15px;
    margin-bottom: 15px;
 }
 
 .modal-search{
     padding: 13px 17px;
     box-sizing: border-box;
     width: 343px;
 }